{% extends "layout.twig" %}

{% block content %}
    <h2>Attendance Records</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Status</th>
        </tr>
        {% for record in attendance %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.subject }}</td>
            <td>{{ record.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
